*{
    margin: 0;
    padding: 0;
    /* border: 1px solid #000000; */
    
}

/* body{
    background: linear-gradient(to right, #1026a05e,  #8b97ff63,#ffffff);
} */

.home-containter{
    max-width: 1200px;
    margin: auto;
}

.h1-home-content{
    font-size: 25px;
    margin-top: 20px;
    color: #333;
    width: 400px;
    margin-bottom: 30px;
}


.home-containter-middle{
    display: flex;
    gap: 200px;
}

.border-line{
    border: 1px solid #ccc;
    width: 260px;
}

.shop-now{
    border: 1px solid #5757579f;
    padding: 5px 20px 5px 20px;
    background-color: white;
    margin-top: 20px;
    width: 150px;
    transition: all 0.2s ease-in-out;
}

.shop-now:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.home-image-content{
    border-radius: 20px;
    width: 600px;
    height: 400px;
}

.home-bg{
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

.h1-home{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.flex-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.border-content{
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
}

.middle-second-text{
    width: 300px;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.item-image{
    width: 300px;
    height: 150px;
    border-radius: 20px;
}



